@import '../../styles/vars';

.error {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: $font;
    font-size: 1.5em;
    color: $button-color;

    .link {
        color: $button-color;
    }

    .link:hover {
        color: $border-color;
    }
}