@import '../../styles/vars';

.cardWord_container {
    border: 1px solid $border-color;
    background-color: $button-color;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 30vh;
    color: $background-color;
    font-family: $font;

    .cardWord_container_englishWord {
        font-size: 2em;
        font-weight: bold;
        position: relative;
        top: 3vh;
    }

    .cardWord_container_transcription {
        position: relative;
        top: -4vh;
    }

    .check_button {
        background-color: $background-color;
        position: relative;
        top: -3vh;
        border-radius: 8px;
        height: 5vh;
        width: 15vh;
        border: 0;
        color: $button-color;
        font-family: $font;
    }
}