$font-header: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-normal: Arial, Helvetica, sans-serif;
$primary-color: #D8BFD8;
$button-color: #FFFACD;
$background-color:  #A2A2D0;